/* global variables  */

* {
    margin: 0;
    box-sizing: border-box;
}


/* medium-large screen */
@media screen and (1024px <= width) {
    
    /* header variables */
    
    .header {
        background-color: aquamarine;
    }
    
    
    /* midsection variables */
    
    .dynamic-container {
        background-color: orange;
        display: flex;
    }
    
    .dynamic-container .content-outline {
        border: 1px solid rgb(20, 32, 20);
        width: 150px;
        height: 150px;
        margin: 30px;
        border-radius: 6px;
        box-shadow: 0 0 10px 2px black;
    }
    
    
    /* footer variables */
    
    .footer {
        background-color: blue;
    }
    
    
    /* menu and navigation variables */
    
    .dropdown-container {
        background-color: brown;
    }
}


/* medium screen */
@media screen and (1024px > width) and (768px <= width) {
    
    /* header variables */
    
    .header {
        background-color: aquamarine;
        height: 80px;
    }

    .header .header-button {
        background-color: aquamarine;
        width: 80px;
        height: 80px;
        border-style: hidden;
    }
    
    .header .header-button:hover {
        
        border-bottom: 3px solid white;
    }
    
    /* midsection variables */
    
    .dynamic-container {
        background-color: green;
        display: flex;
        min-height: 500px;
    }
    
    .dynamic-container .content-outline {
        border: 1px solid rgb(20, 32, 20);
        width: 150px;
        height: 150px;
        margin: 30px;
        border-radius: 6px;
        box-shadow: 0 0 10px 2px black;
    }
    
    
    /* footer variables */
    
    .footer {
        background-color: blue;
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .footer .info-section#footer-info {
        background-color: peachpuff;
        height: 250px;
    }

    .footer .banner#copyright-banner {
        background-color: yellow;
        height: 50px;
    }
    
    
    /* menu and navigation variables */
    
    .dropdown-container {
        background-color: brown;
    }
}

@media screen and (768px > width) {
    
        /* header variables */
    
    .header {
        background-color: aquamarine;
    }
    
    
    /* midsection variables */
    
    .dynamic-container {
        background-color: blue;
        display: flex;
    }
    
    .dynamic-container .content-outline {
        border: 1px solid rgb(20, 32, 20);
        width: 150px;
        height: 150px;
        margin: 30px;
        border-radius: 6px;
        box-shadow: 0 0 10px 2px black;
    }
    
    
    /* footer variables */
    
    .footer {
        background-color: blue;
    }
    
    
    /* menu and navigation variables */
    
    .dropdown-container {
        background-color: brown;
    }
}