@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Oswald&display=swap');



*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body{
background-color: #3E588F;
display:flex;
flex-direction:column;
}



header{
 padding: 30px 3%;
  background-color: #203562;
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 55px;
  width: 100%;
   font-family: Gravitas One;

  }


.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  color: #C0C5CD;
}



.container{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 450px;
  margin-top: 100px;
  color: #C0C5CD;
  font-family: Oswald, sans-serif;
  font-size: 35px;
  align-self:center;
   background: rgba(32, 53, 98, 0.85);
   backdrop-filter: blur(8px);
   border: 1px solid rgba(255, 255, 255, 0.08);
   border-radius: 70px;
   box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);

  }

.box{
display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  text-align: center;
   height:100%;
   transition: 0.3s ease;
    border-radius:70px;
}

.box a{
 text-decoration: none;
  color: #C0C5CD;
   transition:  font-size 0.3s ease;
   padding-left:50px;
   padding-right:50px;
   padding-bottom:20px;
   padding-top:20px;
}

.box a:hover{
color:#E3E8F8;
font-size:55 px;
transform: scale(1.2);
}

.box:hover{
background:#3E588F;
border: 5px #C0C5CD solid;

  border-radius: 70px;
   box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}
.container p{
color:#E3E8F8;
 font-family: Gravitas One;
 font-size:40px;
}





