@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Oswald&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: Gravitas One;
}

body{
background-color: #203562;
}

a{
text-decoration:none;
}


header{
 padding: 30px 3%;
  background-color: #203562;
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 55px;
   width: 100%;

  }


.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  color: #C0C5CD;
}

.nav_link li {
list-style:none;
display: inline-block;
justify-content: space-between;
padding: 10px 18px;
background: #203562;
 border-radius: 50px;
  transition: 0.5s ease;

}

.nav_link li:hover{
    background: #3E588F;
}

.nav_link a{
 color: #C0C5CD;
 font-family: Oswald, sans-serif;
 font-size:x-large;
 }



.navbar {
  display: flex;
  align-items: flex-end;
}


.nav_link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* shift back by half width */
  display: flex;
  gap: 60px;
  list-style: none;
}


 .nav_action {
   display: flex;
   margin-left: auto;
   align-items: flex-end;
   gap: 8px;



 }

.intro{

background-color:#3E588F;

color:#C0C5CD;
border-radius: 55px;
margin: 15px;
display:flex;
padding: 8px;
padding-right: 10%;
padding-left: 20%;

margin-bottom: 100px;
}

.intro-container{
align-self:center;
border-radius:100px;
max-width:40%;
}

.intro_image_wrapper{
display: flex;
   margin-left: auto;
   align-items: flex-end;
   max-width:500px;}

.intro_image_wrapper .intro-container{
 max-width:500px;
}

.intro-container h1{
    color: #E3E8F8;
    font-size: xx-large;
}

.intro-container p{
  margin-top: 30px;
 font-family: Oswald, sans-serif;
 font-size: 22px;
 max-width:70%;

}


.nav_action button{
  padding: 8px;
  background-color:#3E588F;
  color:#C0C5CD;
  border-radius: 50px;
  border: none;
  font-size: large;
}


.test_cards_deck{
    border: 5px  #C0C5CD solid;
    border-radius: 55px;
    margin: 13px;
    margin-bottom: 100px;
}


.test_cards_deck p{
    color:#E3E8F8;
    display:flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 55px;

}
.maincard_container {
  border-radius: 2px;
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 10px;
  border-radius: 0.9rem;
}


.card {
   background-color: rgba(255, 255, 255, 0.101);
  border: 2px solid rgba(255, 255, 255, 0.222);
 backdrop-filter: blur(20px);
  border-radius: 36px;
  display: flex;
  width: clamp(100px, 20%, 400px);
  aspect-ratio: 2.5 / 3;
  height: clamp(150px,20%,400px);

}

.more{
margin: 15px;
display:flex;
padding: 8px;
padding-right: 20%;
padding-left: 20%;
margin-bottom: 100px;
}

.more_container{
 align-self:center;
 border-radius:100px;
 max-width:40%;}

 .more_container h1{
     color: #E3E8F8;
     font-size: xx-large;
 }

 .more_container p{
   margin-top: 30px;
    font-family: Oswald, sans-serif;
    font-size: 22px;
     max-width:80%;
      color: #C0C5CD;
 }

.more_btn_container{
display: flex;
   margin-left: auto;
   align-items: center;
   }


.more_btn_container button{
      height: 200px;
      width:200 px;
     padding: 50px;
     background-color:#3E588F;
     color:#C0C5CD;
     border-radius: 50px;
     border: none;
     font-size: 2rem;
     transition: 0.5 ease;

   }

.more_btn_container button:hover{
    border: 5px #C0C5CD solid;
}

.pack_cards_deck{
   border: 5px #3E588F solid;
    border-radius: 55px;
       margin: 13px;
       margin-bottom: 100px

}


.pack_cards_deck p{
    color:#E3E8F8;
    display:flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 55px;

}

.pcard {
   background-color: rgba(255, 255, 255, 0.101);
  border: 2px solid rgba(255, 255, 255, 0.222);
 backdrop-filter: blur(20px);
  border-radius: 36px;
  display: flex;
  width: clamp(100px, 20%, 400px);
  aspect-ratio: 2.5 / 3;
  height: clamp(150px,20%,400px);

}


.for_us{
color:#C0C5CD;
border-radius: 55px;
margin: 15px;
display:flex;
padding: 8px;
padding-right: 10%;
padding-left: 20%;

margin-bottom: 100px;}

.for_us_container{
 align-self:center;
}

.for_us_container h1{
    color: #E3E8F8;
    font-size: xx-large;
}

.for_us_container p{
  margin-top: 30px;
 font-family: Oswald, sans-serif;
 font-size: 22px;
 max-width:70%;
}

for_us_image_wraper.{
   display: flex;
   margin-left: auto;
   max-width:500px;
   align-items:center;
}
.for_us_image{

display: flex;
align-self:center;
  margin-top: 30px;;
}









